
body{
	backround-color:white;
	background-image: url("seamless-background2.png");
	font-size:14px;
	color: white;
	}
a {
	color: white;
	text-decoration: none;
}
h2{
	color:white;
	font-size:24px;
}
